*{
  box-sizing: border-box;  
}
h1, h2{
    text-align:center;
}
#op{
    text-align: left;
    width:150px;
    height: auto;
}
table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    text-align: center;
}
tr{
    border: none;
}